# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  update:
    machine: true
    steps:
      - run: echo "Updating Docker engine to have multi-stage builds"
      - run: echo -e '{\n    "experimental":true \n}' | sudo tee -a /etc/docker/daemon.json
      - run: echo -e '{\n    "experimental": "enabled" \n}' | tee -a ~/.docker/config.json
      - run: sudo service docker stop
      - run: curl -fsSL https://get.docker.com/ | sudo sh
      - run: docker version
  build_amd64:
    working_directory: ~/docker-gogs
    machine: true
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: make ARCHITECTURES=amd64
      - run: make ARCHITECTURES=amd64 push
  build_i386:
    working_directory: ~/docker-gogs
    machine: true
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: make ARCHITECTURES=i386
      - run: make ARCHITECTURES=i386 push
  build_arm32v6:
    working_directory: ~/docker-gogs
    machine: true
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: make ARCHITECTURES=arm32v6
      - run: make ARCHITECTURES=arm32v6 push
  build_arm64v8:
    working_directory: ~/docker-gogs
    machine: true
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run:
          command: make ARCHITECTURES=arm64v8
          no_output_timeout: 30m
      - run: make ARCHITECTURES=arm64v8 push
  manifest:
    machine: true
    steps:
      - checkout
      - run: make manifest
  badge:
    machine: true
    steps:
      - run: curl -X POST https://hooks.microbadger.com/images/whatever4711/gogs/ZUFTloCr5m1XLN1dsHAsuHZj5Fc=

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - update:
          filters:
            tags:
              only: /.*/
      - build_amd64:
          requires:
            - update
          filters:
            tags:
              only: /.*/
      - build_i386:
          requires:
            - update
          filters:
            tags:
              only: /.*/
      - build_arm32v6:
          requires:
            - update
          filters:
            tags:
              only: /.*/
      - build_arm64v8:
          requires:
            - update
          filters:
            tags:
              only: /.*/
      - manifest:
          requires:
            - build_amd64
            - build_i386
            - build_arm32v6
            - build_arm64v8
          filters:
            tags:
              only: /.*/
      - badge:
          requires:
            - manifest
          filters:
            tags:
              only: /.*/
