# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

description: |
  Install/configure docker with buildx to
  cross-compile docker images and deploy them

orbs:
  docker: circleci/docker@1.0.0
  git: opuscapita/git@0.0.3

jobs:
  working_directory: ~/docker-gogs
  machine: true
  build-only:
    steps:
      - git/checkout-with-submodules
      - sudo apt update
      - sudo apt install -y qemu qemu-user-static qemu-user binfmt-support
      - git clone https://github.com/computermouth/qemu-static-conf.git
      - sudo mkdir -p /lib/binfmt.d
      - sudo cp qemu-static-conf/*.conf /lib/binfmt.d/
      - sudo systemctl restart systemd-binfmt.service
      - sudo apt purge -y docker-ce docker-ce-cli
      - sudo curl -fsSL https://get.docker.com -o get-docker.sh
      - sudo sh get-docker.sh
      - sudo usermod -aG docker $(whoami)
      - mkdir $HOME/.docker
      - sh -c 'echo "{ \"experimental\":\"enabled\" }" >> $HOME/.docker/config.json'
      - docker buildx create --name=qemu
      - docker buildx inspect --bootstrap qemu
      - docker buildx use qemu
      - make

workflows:
  build-docker-image-only:
    jobs:
      - build-only
