# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

description: |
  Install/configure docker with buildx to
  cross-compile docker images and deploy them

orbs:
  docker-buildx: foodles/docker-buildx@0.0.1

workflows:
  build:
    jobs:
      - docker/build
      
