# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

description: |
  Install/configure docker with buildx to
  cross-compile docker images and deploy them

orbs:
  docker: circleci/docker@1.0.0


workflows:
  build-docker-image-only:
    jobs:
      - docker/publish:
          deploy: false
          image: test/test
      steps:
        - checkout
